.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
	overflow-wrap: break-word;
}

@media (max-width: 49.96875em) {
    .column {
        flex-basis: 100%;
    }
}

@media (min-width:50em) {
    // Equal.
    .columns {
        flex-wrap: nowrap
    }

	.column {
        flex-basis: 0;
    }
    .column[style] {
        flex-grow: 0
    }
    .column:not(:first-child) {
        margin-left: calc(2 * #{$measure});
    }

    // Proportional.
    .column.is-one-third {
        flex-basis: calc((100% / 3) - 1.5rem);
    }

    .column.is-two-third {
        flex-basis: calc(((100% / 3) * 2 ));
    }
}