.console {
	padding: 0 $measure;

	@media (min-width: 37.5em) {
		padding: 0 calc(2 * #{$measure});
	}
}

@media (min-width: 62.5em) {
	.ui {
		display: grid;
		grid-template:
		"console content" /
		 calc(5 * #{$measure}) 1fr;
	}

	.console {
		height: 100vh;
		padding: 0 $measure;
	}
}

/* Named areas for IE. */
.console {
	grid-area: console;
}

.content {
	grid-area: content;
}

/* Non-IE. */
@supports (grid-auto-rows: 0) {
	main,
	.constrain {
		display: grid;
		grid-template:
		"left centre right" /
		minmax(1.5em, 1fr) minmax(auto, 1260px) minmax(1.5em, 1fr);
	}

	main > *,
	.constrain > * {
		grid-column: 2;
	}

	.full-width {
		grid-column: 1 / 4;
		width: 100%;
	}

	@media (min-width: 37.5em) {
		main,
		.constrain {
			grid-template:
			"left centre right" /
			minmax(3em, 1fr) minmax(auto, 1260px) minmax(3em, 1fr);
		}
	}

	@media (min-width: 62.5em) {
		.console {
			padding-top: calc(3 * #{$measure});
			position: sticky;
			top: 0;
		}
	}
}
