
@supports (grid-auto-rows: 0) { // PE: not for IE.
	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, 1fr);
		justify-items: start;
		grid-gap: $measure;
		gap: $measure;

		@media (min-width: 25em) {
			grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		}

		@media (min-width: 50em) {
			grid-gap: calc(2 * #{$measure});
			gap: calc(2 * #{$measure});
		}

		> * {
			max-width: 100%; /* Override if <li> element. */
			width: 100%;
		}
	}
}