.rhythm * + *,
.rhythm > *,
.full-width * + *,
.full-width > * {
	margin-top: $measure;
}

.rhythm {
	main li:not(:first-child):not(.list-highlight),
	p:not(.is-text-larger) + p,
	.card__excerpt,
	.card__date {
		margin-top: calc(.5 * #{$measure});
	}

	h3,
	.card__heading,
	.breadcrumbs li {
		margin-top: $measure;
	}

	h1,
	h2,
	.post * + h3,
	.page * + h3,
	.post time + *,
	//.is-text-larger + *,
	.footnotes,
	.is-double-measure-top {
		margin-top: calc(2 * #{$measure});
	}

	.post .columns {
		margin: calc(2 * #{$measure}) 0 $measure;
	}

	@media (min-width: 50em) {
		.column {
			margin-top: 0;
		}
	}

	/*@media (max-width: 62.4375em) {
		.columns > *:not(:first-child) {
			margin-top: calc(3 * #{$measure});
		}
	}*/

	br, /* Firefox */
	main,
	dd,
	picture img,
	.pad-big-y,
	.full-width,
	.constrain,
	.constrain > *:first-child,
	.notice,
	.column > *:first-child,
	.grid > li,
	.grid li > *:first-child,
	.pad-big-y > *:first-child,
	[role="tablist"] li,
	.tabbed section,
	.card > *:first-child,
	.card__media,
	.list-highlight li,
	.note__heading {
		margin-top: 0 !important;
	}

	@media (min-width: 37.5em) {
		.site-meta {
			margin-top: 0;
		}
	}
}