.pad-small-all {
	padding: $measure;
}

.pad-big-y {
	padding-bottom: calc(3 * #{$measure});
	padding-top: calc(3 * #{$measure});
}

.flex-centred-x {
	display: flex;
	justify-content: center;
}

/* One-off rule for front page banner. */
.flex-centred-y {
	flex-direction: column;
	display: flex;
	justify-content: center;

	h1 {
		margin-top: 0;
	}
}

@media (max-width: 49.96875em) {
	.stacked-no-pad-top {
		padding-top: 0;
	}

	.stacked-no-margin-top {
		margin-top: calc(.5 * #{$measure});
	}
}