.card {
	box-shadow: 0 .75em 1.875em 0 rgba(34,28,53,.15);
	height: 100%;
}

.card__heading {
	font-family: $font-serif;
	font-size: var(--step-2);
	max-width: 100%;
}

.card__type {
	font-size: var(--step--2);
}

.card__date {
	display: inline-block;
}

.card__date,
.card__excerpt {
	font-size: var(--step--1);
}

.card__styled-link {
	background-color: map-get($colours, 'highlight');
	border: 1px solid map-get($colours, 'highlight');
	border-radius: 2rem;
	display: inline-block;
	font-size: var(--step--2);
	font-weight: 400;
	padding: 6px 16px;
	text-decoration: none;

	&:hover {
		background-color: transparent;
	}

	&:active {
		transform: scale(0.94);
	}
}

.card:not(.card--project):not(.card--feature) {
	.card__date,
	.card__excerpt {
		font-family: $font-mono;
	}
}

.card--project {
	.card__heading {
		color: map-get($colours, 'light');
	}

	.card__excerpt a {
		border: 0 !important;
		text-decoration: underline;
		text-decoration-skip-ink: auto;

		&:hover {
			text-decoration: none;
		}
	}

	@media (min-width: 50em) {
		.card__text {
			padding-right: 0;
		}
	}
}

.card__media {
	img {
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		width: 100%;
	}
}

.card--feature {
	.card__heading {
		max-width: 26ch;
	}

	.card__excerpt {
		font-size: var(--step-0);
		margin-top: 1.5rem;
		max-width: 48ch;
	}
}

/* Add an outline. */
.card--has-outline {
	border: 2px solid var(--c-primary-bright);
}

/* Make the entire card clickable. */
.card--linked {
	position: relative;
}

.card-link {
	color: map-get($colours, 'primary-bright');
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.card-link::after {
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.card-link:hover::after {
	outline: 2px solid map-get($colours, 'primary-bright');
	outline-offset: calc(.125 * #{$measure});
}

@media (max-width: 49.96875em) {
	.card--project {
		.card__text {
			order: 2;
		}

		img {
			max-height: 400px;
		}
	}
}