code,
.code-block {
	font-family: $font-mono;
}

code {
	font-size: var(--step-0);
	padding: 0 .1875em;
}

.code-block {
	font-size: var(--step--1);
	overflow: auto;
	padding: 0 $measure $measure;
	tab-size: 2;
	white-space: pre;
}