/* Inclusive Components: https://codepen.io/heydon/pen/veeaEa */
/* @todo review */
.tabbed ul {
	padding: 0;
}

[role="tablist"] a {
	color: var(--c-primary-dark);
	display: block;
	font-weight: 700;
	outline: none;
	position: relative;
	text-decoration: none;

	&::before {
		content: '';
		border-left: calc(.25 * #{$measure}) solid transparent;
		height: calc(100% + 1rem);
		left: -.8125rem;
		position: absolute;
		top: -.5rem;
	}
}

[role="tablist"] a:hover {
	color: var(--c-primary-bright);

	&::before {
		border-color: var(--c-primary-bright);
	}
}

[role="tablist"] [aria-selected] {
	color: map-get($colours, 'primary-bright');

	&::before {
		border-color: map-get($colours, 'primary-bright');
	}

	&:focus::before {
		border-color: map-get($colours, 'highlight');
	}
}

@media (min-width: 50em) {
	[role="tablist"] a {
		border-bottom: 0 !important; // Ensure default anchor style is not inherited.
	}
}

@media (max-width: 49.96875em) {
	[role="tablist"] li {
		border: 0;
	}

	[role="tablist"] li, [role="tablist"] a {
		display: inline-block;
		margin-right: calc(.5 * #{$measure});
		position: static;
	}

	[role="tablist"] li + li a {
		border-top: 0 !important;
	}

	[role="tablist"] [aria-selected] {
		border-bottom: map-get($colours, 'primary-bright') calc(.125 * #{$measure}) solid;

		&:focus {
			border-color: map-get($colours, 'highlight');
		}
	}
}

// Dark mode.
[data-user-color-scheme="dark"] {
	[role="tablist"] a:hover {
		color: var(--c-highlight);
	
		&::before {
			border-color: var(--c-highlight);
		}
	}

	[role="tablist"] [aria-selected] {
		border-color: var(--c-highlight);
		color: var(--c-highlight) !important;
	
		&::before {
			border-color: var(--c-highlight);
		}

		&:focus::before {
			border-color: var(--c-highlight);
		}
	}

	@media (max-width: 49.96875em) {
		.tabbed li {
			border: 0;
		}
	}
}