.no-js .switch {
	display: none;
}

.switch {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.toggle {
	margin-top: calc(.5 * #{$measure});
}

.toggle-status {
	font-size: var(--step--1);
	margin-top: 0;
}

[role="switch"] {
	background-color: transparent;
	border: 1px solid var(--c-white);
	border-radius: 2rem;
	cursor: pointer;
	min-height: 22px;
	position: relative;
	width: 48px;

	&:focus {
		border-color: var(--c-highlight);
	}

	span {
		background-color: var(--c-white);
		border: 1px solid var(--c-white);
		border-radius: 50%;
		display: inline-block;
		height: 16px;
		width: 16px;
		position: absolute;
		top: 2px;
		transition: 250ms;
	}

	&[aria-checked="false"] {
		span {
			left: 2px;
		}
	}

	&[aria-checked="true"] {
		span {
			left: 28px;
		}
	}
}