---
layout: templates/post.html
title: Thing is on
date: 2014-05-19
lastModified: 2014-05-19
tags: ['note']
type: freelancing
permalink: 'thing-is-on/'
metaDescription: The awkward first post.
hasBreadcrumb: true
---
<p>I'm far enough along into the web stuffs to feel like it might be time to start giving a little back. Articulate my thoughts, and such. I've learnt so much from generous people simply taking the time to document a solution to a problem they encountered (thank you, seriously), and hopefully someone will find something of use here at some point.</p>

<h2>Where I'm at right now</h2>

<ul>
    <li><a href="http://gruntjs.com/">Grunt</a> is indispensable, I love it.</li>
    <li><a href="http://sass-lang.com/">SASS</a> is refreshing but currently has no team buy-in with the majority of projects I work on.</li>
    <li>CSS frameworks are great to learn from but mind-numbing to actually use, at least for sites up to a certain scale.</li>
    <li>Anything besides mobile-first seems odd.</li>
    <li>Designs born in the browser are preferable to Photoshop oil paintings.</li>
    <li>If it's possible to be a "fan" of an image format, I'm in the SVG club.</li>
    <li>Lastly, I am just starting to leap onto the "no jQuery" bandwagon (or off the jQuery bandwagon - I guess whichever is slowest moving and not going to kill me when I hit the ground. Rolling bandwagons, dangerous).</li>
</ul>

<p>Most work I do involves WordPress templates or plugins. I've worked with WordPress for 7 years on-and-off, the last 3 of those full-time. Recently, the maintenance schedule has started to crush a lot of the joy.</p>

<h2>Uncrush</h2>

<p>No matter how much I know about the inner workings and various APIs of something like WordPress, the <code>/wp-includes/</code> folder is still very much an arcane, ancient power source from which wells raw blog magic. This site currently runs on <a href="http://jekyllrb.com/">Jekyll</a>, and what a revelation it has been.</p>

<p>I am by no means an all-must-be-efficient! guy as I think that mindset has some very real pitfalls. However, this just feels right: the output is 1-to-1 with the input and all that I have written is present, and nothing more. It's a good feeling: all cache, all the time.</p>

<p>I did check out WordPress pseudo-killer Ghost, amongst others, but even there a browser GUI for writing still seems excessive for a simple blog.</p>

<h2>From here&hellip;</h2>

<p>It can be hard to gauge where exactly to locate yourself in this industry. Whenever I discover something that's completely new to me but which already has a gigantic community behind it, I can't help feeling I'm continuously playing catch-up. Documenting my week-to-week will hopefully help create some healthy self-perspective and make me a better developer.</p>
