---
layout: templates/post.html
title: Changing how I work with you
date: 2020-09-18
lastModified: 2020-09-18
tags: ['note']
type: freelancing
permalink: 'client-work-changes/'
metaDescription: A project gone badly prompts a major review of how I work with you.
hasBreadcrumb: true
---
<p>I’ll be available for client work again from February 2021 but there will be some changes in how I work with you. I’m looking forward to embracing the changes detailed below, and hope they will provide you with extra confidence when choosing me to work on your project.</p>

<h2>What’s behind this?</h2>

<p>This year I had a project fail for the first time in a decade of freelancing. 
A number of elements combined to create a poor experience and outcome:</p>

<ul>
	<li>research hours wasted due to a 180&deg change in direction (switching to an entirely different project after an initial meeting)</li>
	<li>a clearly defined project scope ignored</li>
	<li>content strategy advice declined, resulting in poor quality written content</li>
	<li>regularly postponed or late meetings</li>
	<li>too much flexibility on my part</li>
</ul>

<p>Ultimately, and far too late, I chose to opt out instead of continuing.</p>

<p>I’ve worked with people from ages 18–80 and have clearly been 
very lucky to this point to avoid major miscommunication and comprehension 
issues critically affecting a project. I’ve since put a great deal 
of thought into reducing the risk of something similar happening again.

<h2 id="requirements">Two eternal questions</h2>
<ol>
	<li>What is your budget?</li>
	<li>Is there a meaningful deadline for this project to be completed by?</li>
</ol>

<h3>Budget</h3>
<p>I’d like to stress that asking for your budget is not an attempt to 
work out how much money I can extract from you. Knowing your budget helps me 
quickly understand if your project proposal is reasonable as-is. If it is not, 
this knowledge aids reality-based discussion towards finding a different way 
to achieve your goals.</p>

<h3>Meaningful deadline</h3>
<p>Having a meaningful deadline helps keep attention focused and ensures important 
decisions are not deferred. It’s also fundamental to scheduling projects: 
having a crucial date your project must be completed by means 
there’s an excellent chance I can juggle existing projects to fit you in.</p>

<p>Last, and most important, a project with no known timeframe is a risk to 
other projects (and the number one reason I will decline work).</p>

<p>For clarity, here’s some examples of a meaningful deadline:</p>

<ul>
	<li>You’re starting a new business on February 23 and need a website for the launch day.</li>
	<li>Your new product line becomes available from July 11 and you require an e-commerce solution to start selling online from that date.</li>
	<li>Your website needs to be updated before December 28 due to a security issue.</li>
</ul>

<p>If you don’t have a deadline I’m still open to taking on your project if I have 
the time available, though it’s important to realise it cannot be a priority.</p>

<h2>Working in the open</h2>
<p>It’s always helpful to determine early on the level of involvement you prefer 
for your project. Everyone is different in terms of how hands-on they choose to 
be: you may like to be involved every step of the way, or you may like to see a 
near-resolved website before you feel able to provide useful feedback.</p>

<p>From now on, I’ll be developing your project 100% in public, where you can 
easily check in to view your in-progress project any time you like. It’s 
totally up to you whether you’d like to watch your website transform daily—from 
raw text to the final visual design—or just check in when prompted for feedback.</p>

<h3>Video feedback</h3>
<p>I’ll also be offering you the option to receive short video updates 
on a regular basis, to help focus your feedback and generally keep you in 
the loop.</p>

<h2>Contract &amp; payment terms</h2>
<p>Previously, I’ve only required a contract for a project when 
it’s clear there is risk involved due to vague briefs and unclear goals.</p>

<p><u>All projects</u> will now require a contract be signed prior to work starting. 
A deposit is still not required, but payment terms will be clearly detailed.</p>

<h2>Meetings</h2>
<p>I have previously not charged for meetings. Beyond an initial chat to discuss 
your project and to see whether we’d like to work together, meetings will now be chargeable at <a href="https://danielshaw.co.nz/pricing/">my hourly rate</a> or will be factored in to a project 
quote.</p>

<p>Missed or regularly postponed meetings will now also be considered chargeable.</p>

<h2>Discount change</h2>
<p>I’ve previously offered 50% discount for not-for-profits and 75% 
discount for artists, by default. The sole discount I now offer is a 25% discount for choosing 
to develop an accessible website (please see <a href="https://developer.mozilla.org/en-US/docs/Learn/Accessibility/What_is_accessibility#So_what_is_accessibility">
So what is accessibility?</a> for an explanation if you’re unsure what 
this means).</p>

<p>I’m still open to offering a discount on a case-by-case 
basis, and I encourage you to discuss this with me as early as possible.</p>