---
layout: templates/post.html
title: NZ Shipping Zones for WooCommerce plugin
date: 2020-10-02
lastModified: 2020-10-02
tags: ['note']
type: woocommerce
permalink: "woocommerce-rural-delivery-shipping-nz/"
metaDescription: A free plugin to easily set up WooCommerce shipping zones for standard and rural delivery to the North and South islands of New Zealand.
hasBreadcrumb: true
---
<p>As you're no doubt aware, postage fees within New Zealand differ depending 
whether the destination address is designated as <b>standard</b> or <b>rural 
delivery</b>. A common baseline shipping set-up for NZ e-commerce sites covers 
four destination types: North Island and South Island, plus rural variations 
for each.</p>

<h2>Shipping Zones in WooCommerce</h2>
<p>Setting up shipping rules for WordPress e-commerce sites became a whole lot easier when WooCommerce 2.6 was released back in 2016. 
That release provided a new feature — Shipping Zones — allowing for more granular 
control over what a shipping destination can be and how rates should be applied.</p>

<h3>The manual way</h3>
<ol>
	<li>Visit WooCommerce > Settings > Shipping tab > Shipping Zones.</li>
	
	<li>Set up four shipping zones: North Island (Rural); South Island (Rural);
	North Island; South Island.</li>
	
	<li>Add <a href="https://www.nzpost.co.nz/personal/sending-in-nz/postcodes">
	rural postcodes</a> for each rural island zone, via the Zone regions field.</li>

	<li>Choose from WooCommerce's pre-defined regions for each non-rural 
	island zone, via the Zone regions field.</li>
</ol>

<p>Depending on experience, you're going to fall into one of two camps when doing this:</p>

<ul>
	<li>It's easy but boring work.</li>
	<li>It's difficult and confusing work.</li>
</ul>

<h2>A plugin for NZ shipping zones</h2>
<p>I've written a lot of site-specific WordPress plugins but never any 
for mass consumption. No more! Find my simple solution for automatically setting up the New Zealand shipping 
zones described above, via the WordPress Plugin Directory:</p> 

<p><a class="link-highlight" href="https://wordpress.org/plugins/new-zealand-shipping-zones-for-woocommerce/">
	<svg class="link-highlight__icon" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true"><path d="M19.406 10.8l-7.285-7.285 1.697-1.697 10.182 10.182-10.182 10.182-1.697-1.697 7.285-7.285h-19.406v-2.4z"></path></svg>New Zealand Shipping Zones for WooCommerce</a></p>

<h3>How it works</h3>
<p>Activating the plugin will automatically set up the following shipping zones:</p>

<ul>
	<li>North Island (Rural)</li>
	<li>South Island (Rural)</li>
	<li>North Island</li>
	<li>South Island</li>
</ul>

<h3>How it looks</h3>
<figure>
	<picture>
	  <source srcset="{{ site.url }}/assets/image/woocommerce-rural-delivery-shipping-nz-settings-screen.webp">
	  <img src="{{ site.url }}/assets/image/woocommerce-rural-delivery-shipping-nz-settings-screen.jpg"
		height="864"
		width="1225"
		alt=""
		loading="lazy"
	  />
	</picture>
  
	<figcaption>WooCommerce shipping zones panel after plugin activated.</figcaption
</figure>

<h3>What you need to do</h3>

<p>Once installed, set your required shipping methods for each zone and&hellip; that&rsquo;s it. 
If you&rsquo;re unsure how to set a shipping method, check out the <a href="https://docs.woocommerce.com/document/flat-rate-shipping/">WooCommerce 
Flat Rate Shipping tutorial</a> for an example.</p>
  
<p>Hopefully this makes your day a little easier :)</p>
