---
layout: templates/post.html
title: Some steps to ensure typographic consistency in the browser
date: 2017-03-17
lastModified: 2017-03-17
tags: ['note']
type: css
permalink: 'steps-for-typographic-consistency/'
metaDescription: How to ensure text is presented in a consistent, predictable and manageable way for the browser.
hasBreadcrumb: true
---
<p>I push a lot of project time towards working out rules to ensure text is presented in a consistent, predictable and manageable way. Below is a very simple and straight-forward set of steps I've noticed work as a logical progression when setting up foundation rules for type with CSS.</p>

<p>Note the order of the list: this order is crucial because choices made at each step flow into the next.</p>

<p><strong>Caveat 1:</strong> as with all worthwhile things, application in the guise of good or bad taste is still completely up to you. I'm 50/50 on which is more of a clich&eacute;.</p>

<p><strong>Caveat 2:</strong> I am not a designer or typographer (but that's not really the point here).</p>

<h2>Steps</h2>

<ol class="list-highlight" role="list">
    <li>Select a typeface.</li>
    <li>Work out your ideal paragraph font-size.</li>
    <li>Work out your ideal paragraph line-height.</li>
    <li>Work out your ideal measure/line-width.</li>
    <li>Choose the paragraph margins.</li>
    <li>Check the vertical rhythm and massage to excellence.<sup><a id="note-1-return" href="#note-1">1</a></sup></li>
    <li>Choose a modular type scale to help generate variations on your base font size.<sup><a id="note-2-return" href="#note-2">2</a></sup></li>
    <li>Go back and work on vertical rhythm again, this time including your non-paragraph text elements.</li>
    <li>Massage, and massage again.</li>
</ol>

<p><strong>Remember:</strong> if you adjust an earlier step, you'll probably need to re-adjust all following steps.</p>

<h2>You're not finished</h2>

<p>Steps complete!<sup><a id="note-3-return" href="#note-3">3</a></sup> Does this mean you have great typography? Maybe, but probably not! Does following this approach mean you're now a good typographer? No way!</p>

<p>These steps will simply help with setting up CSS rules towards a predictable outcome, because they work in direct relation to how text renders and behaves in a web browser.</p>

<div class="footnotes">
    <ol>
        <li id="note-1"><a href="http://basehold.it/">http://basehold.it</a> is a useful tool for checking vertical rhythm in the browser.<a href="#note-1-return"><i class="fa fa-reply"></i></a></li>
        <li id="note-2"><a href="http://www.modularscale.com/">http://www.modularscale.com</a> is also handy.<a href="#note-2-return"><i class="fa fa-reply"></i></a></li>
        <li id="note-3">It's possibly days later&hellip;<a href="#note-3-return"><i class="fa fa-reply"></i></a></li>
    </ol>
</div>