<div class="bg-dark full-width pad-big-y stacked-no-pad-top">
	<div class="constrain">
		<div class="columns">
			<div class="column is-one-third">
				<div class="x-ray" id="js-x-ray">
					{% include './assets/icons/selfie.svg' %}
					{% include './assets/icons/selfie-skull.svg' %}
				</div>
			</div>

			<div class="column is-two-third flex-centred-y">
				<div>
					<h1>{{ title | preventOrphans }}</h1>
					<p class="is-text-larger">{{ lead }}</p>
				</div>
			</div>
		</div>
    </div>
</div>