<div class="bg-dark full-width pad-big-y stacked-no-pad-top">
	<div class="constrain">
		<div class="columns">
			<div class="column is-one-third">4</div>

			<div class="column is-one-third">
				{% include './assets/icons/selfie-skull-404.svg' %}
			</div>

			<div class="column is-one-third">4</div>
		</div>
    </div>
</div>