{% if navigation.pages %}
<nav>
	<ul class="nav" role="list">
	{% for item in navigation.pages %}
		{% assign currentAttribute = '' %}

		{% if page.url == item.url %}
			{% assign currentAttribute = 'aria-current="page"' %}
		{% endif %}

		<li class="nav__item">
			<a class="all-caps" href="{{ site.url }}{{ item.url | url }}" {{ currentAttribute }}>{{ item.label }}</a>
		</li>
	{% endfor %}
	</ul>
</nav>
{% endif %}