<footer>
	<div class="footer pad-big-y">
		<dl>
			<dt>Daniel Shaw</dt>
			<dd>WordPress &amp; WooCommerce Developer<br>
			Wellington<br>
			New Zealand</dd>

			<dt>Email</dt>
			<dd>{{ site.email }}</dd>
		</dl>

		<div class="site-meta">
			<ul role="list">
				<li><a href="{{ site.url }}/privacy-policy/">Privacy Policy</a></li>
				<li><a href="{{ site.url }}/accessibility-policy/">Accessibility</a></li>
			</ul>

			{% include 'partials/global/toggle-mode.html' %}
		</div>
	</div>
</footer>