<header>
	{% include 'partials/global/wordmark.html' %}
	<span class="location">{{ site.location }}</span>
	<span class="email">EMAIL {{ site.email }}</span>

	{% if site.notice %}
	<p class="notice">👋 {{ site.notice }}</p>
	{% endif %}
</header>