{% assign title = title | append: ' — ' | append: site.identity %}
{% assign description = '' %}
{% assign permalink = site.url | append: page.url %}

{% if metaTitle %}
  {% assign title = metaTitle %}
{% endif %}

{% if metaDescription %}
  {% assign description = metaDescription %}
{% endif %}

<title>{{ title }} &middot; {{ site.identity }}</title>

{% if metaDescription %}
  <meta name="description" content="{{ description }}" />
{% endif %}

<link rel="canonical" href="{{ permalink }}" />