<div class="switch">
	<span role="status" class="visually-hidden js-toggle-notice"></span>
	<span class="toggle-status js-toggle-label"></span>
	<button class="toggle js-toggle"
		aria-label="toggle theme"
		aria-checked="false"
		role="switch"
		type="button"
		>
		<span></span>
	</button>
</div>