---
layout: templates/common
title: Blergh
lead: "I owe everything I know to kind people who have taken the time to document approaches and solutions to their web issues. Returning the favour: a mix of how-tos and opinion."
pagination:
  data: collections.note
  size: 100
  reverse: true
  alias: notes
---
<main id="skip-to" tabindex="-1">
	{% include 'partials/global/banner.html' %}

	<div class="full-width is-scheme-silver pad-big-y">
		<div class="constrain">
			<ul class="cards grid" role="list">
			{%- for note in notes %}
				<li>
					{% include 'partials/components/card-linked.html' %}
				</li>
			{%- endfor %}
			</ul>
		</div>
	</div>
</main>