<!doctype html>
<html lang="en-NZ" class="no-js">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Search Console verification -->
		<meta name="google-site-verification" content="7_k4EMo23GyXYjmiMXJXNgLEo6AeY1gIt6801rAW3bM" />

		<link rel="preload" href="{{ site.url }}/assets/font/dmsans-regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="{{ site.url }}/assets/font/dmserifdisplay-regular.woff2" as="font" type="font/woff2" crossorigin>

		<link rel="alternate" type="application/rss+xml" title="{{ site.identity }}" href="{{ site.url }}/feed.xml" />

		<link rel="icon" type="image/svg+xml" href="{{ site.url }}/assets/icons/selfie.svg">
		<link rel="alternate icon" href="{{ site.url }}/assets/icons/favicon.ico">

		{% include 'partials/global/meta.html' %}

		<style>
			@font-face {
				font-family: 'dm-sans';
				src: url('{{ site.url }}/assets/font/dmsans-regular.woff2') format('woff2'),
					 url('{{ site.url }}/assets/font/dmsans-regular.woff') format('woff');
				font-weight: 400;
				font-display: swap;
			}
		</style>

		{% include 'partials/global/font-load.html' %}

		<link rel="stylesheet" href="{{ site.url }}{{ 'style.css' | assetPath }}">

		{% include 'partials/global/schema-common.html' %}

		{% if hasBreadcrumb %}
		{% include 'partials/global/schema-breadcrumb.html' %}
		{% include 'partials/global/schema-article.html' %}
		{% endif %}
	</head>
	
	<body>
		<a href="#skip-to" class="skip-to-content">Skip to content</a>
		
		<div class="ui">
			<div class="console">
				{% include 'partials/global/console.html' %}
			</div>

			<div class="content rhythm">
				<div class="bg-dark full-width">
					<div class="constrain head">
						{% include 'partials/global/head.html' %}
					</div>
				</div>

				{{ content }}

				<div class="bg-dark full-width">
					<div class="constrain" style="position: relative;">
						{% include 'partials/global/foot.html' %}

						<a class="gatekeeper" href="https://danielshaw.co.nz/art-life/">&pi;</a>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ site.url }}{{ 'bundle.js' | assetPath }}"></script>
	</body>
</html>
