---
layout: templates/common
---
<div class="full-width">
	<div class="constrain">
		{% include 'partials/components/breadcrumbs.html' %}
	</div>
</div>

<main class="post pad-big-y" id="skip-to" tabindex="-1">
	<h1 class="page-title">{{ title | preventOrphans }}</h1>
	<time datetime="{{ date | dateBot }}">{{ date | dateHuman }}</time>
	{% if wasUpdated %}
	<span class="time-updated">Updated <time datetime="{{ lastModified | dateBot }}">{{ lastModified | dateHuman }}</time></span>
	{% endif %}
	{{ content }}
</main>