@import "../theme/config";

/**
 * Adds a "jig" grid for development.
 *
 * Only aligned/useful when console area is not active.
 */

/* Set up the base grid values. */
:root {
	/* Grid */
	--grid-width: calc(100% + var(--grid-gutter));
	--grid-column-count: 12;                     /* Total number of columns. */
	--grid-gutter:#{$measure};    /* x-distance between columns. */
	--grid-padding-x: #{$measure}; /* Set window horizontal padding. */

	/* Column */
	--grid-column: calc((100% / var(--grid-column-count)) - var(--grid-gutter));
	--grid-column-colour: #e8fbff;

	/* Build the grid. */
	--grid: repeating-linear-gradient(
		to right,
		var(--grid-column-colour),
		var(--grid-column-colour) var(--grid-column),
		transparent var(--grid-column),
		transparent calc(100% / var(--grid-column-count))
	);
}

@media (min-width: 50em) {
	:root {
		--grid-gutter: calc(2 * #{$measure});
		--grid-padding-x: calc(2 * #{$measure}); /* Set window horizontal padding. */
	}
}

/* Overlay grid. */
html {
	position: relative;
}

html::before {
	background-image: var(--grid);  
	background-size: var(--grid-width) 100%;
	background-position: 0 0;
	bottom: 0;
	content: '';
	left: 0;
	margin: auto;
	max-width: calc((#{$constraint-max} * 1rem) - (3.75 * var(--grid-padding-x))); // Maximum content width minus the horizontal window padding.
	min-height: 100vh;
	pointer-events: none; /* Don't let the overlay block clicks. */
	position: absolute;
	right: 0;
	top: 0;
	width: calc(100% - (var(--grid-padding-x) * 2));
	z-index: -1;
}