---
layout: templates/post.html
title: PxPay 2.0 upgrade for WP eCommerce and Gravity Forms
date: 2016-08-31
lastModified: 2016-08-31
tags: ['note']
type: e-commerce
permalink: 'pxpay-upgrade-deadline-payment-express/'
metaDescription: A quick guide to check whether your WordPress e-commerce site is in good shape to continue accepting real-time payments after Tuesday, 5th September, 2016.
hasBreadcrumb: true
---
<p>If you're based in New Zealand and take credit card payments via <a href="https://www.paymentexpress.com/">Payment Express</a>, you may recently have received an email with a deadline to upgrade your WordPress website to work with the PxPay 2.0 interface.</p>

<p>Here's a quick guide to check whether your e-commerce site is in good shape to continue accepting real-time payments beyond <strong>Tuesday, 5th September, 2016.</strong></p>

<h2>Run a test transaction</h2>

<p>The quickest way to identify whether you need to upgrade is to run a transaction right through to the Payment Express hosted page. If you get there and the URL looks like this—<code>https://sec.paymentexpress.com/pxmi3/</code>—there's no need to do anything. You can stop reading&hellip; now.</p>

<h2>Payment via Gravity Forms</h2>

<p>If you're running credit card transactions using Gravity Forms, you're almost certainly using <a href="https://wordpress.org/plugins/gravity-forms-dps-pxpay/">Gravity Forms DPS PxPay</a> to handle dealing with the payment gateway itself. If so, all you need to do is check the version number of the Gravity Forms DPS PxPay plugin.</p>

<ul>
<li>If you're running <strong>version 1.4.0 or higher</strong>, you're already covered and don't need to do anything.</li>
<li>If you're on a version less than 1.4.0, you'll need to update. From your WordPress admin dashboard: Click Plugins, find Gravity Forms DPS PxPay, and click "Update now".</li>
</ul>

<p><b>Running an older version of the plugin?</b> You may have a version installed that's above the minimum for supporting PxPay 2.0, but while you're in the plugin admin you may as well take the opportunity to update to the latest version.</p>

<h2>Payment via WP Ecommerce</h2>

<p>The plugin, <a rel="nofollow" href="https://wpecommerce.org/store/marketplace/gold-cart/">Gold Cart for WP e-Commerce</a>, has provided support for Px*-flavoured payment gateways in the past, this being perhaps the only reason to purchase a licence for it. Unless you're using this plugin's Grid View option for your site's product layout—or for additional payment gateways—I recommend dropping this plugin completely.</p>

<p>To continue taking real-time payments with PxPay 2.0, installing the free <a href="https://wordpress.org/plugins/dps-pxpay-for-wp-ecommerce/">DPS PxPay for WP eCommerce</a> plugin will provide a new option in the Payments tab of the WP eCommerce admin.</p>

<p>After installing the plugin, visit the Payments tab in the WP eCommerce admin:</p>

<ul>
    <li><code>Settings > Store > Payments tab</code></li>
</ul>

<p>You'll see a new option, "DPS Payment Express PxPay".</p>

<h2>Setting up DPS Payment Express PxPay</h2>

<p>Configuring the new gateway to continue real-time payment is straight-forward:</p>

<ul>
    <li>Enter a value for the Display Name field, typically "Credit Card".</li>
    <li>Enter your Payment Express User ID.</li>
    <li>Enter your User Key.</li>
    <li>Set "Use Sandbox (testing)" to No.</li>
</ul>

<p><b>Note:</b> if you were previously using PxAccess for payments, combine the Access Key and Mac Key into one for the User Key. For example:</p>

<ul>
    <li><b>Access Key</b><br><code style="word-break: break-all">c4416984a751da1f59bd96bca52f91f3dd13c9a22232b770</code></li>
    <li><b>Mac Key</b><br><code style="word-break: break-all">bf6fdd93c031092c</code></li>
</ul>

<p>&hellip;becomes:</p>

<ul>
    <li><b>User Key</b><br><code style="word-break: break-all">c4416984a751da1f59bd96bca52f91f3dd13c9a22232b770bf6fdd93c031092c</code></li>
</ul>

<p>And, in case it's not clear, the User ID is the same as the Access User Id.</p>

<p>For the Merchant Reference and TxnData fields, you can choose which personal information from the order is carried across with the payment. One important caveat: though you'll see Email Address as an option, this appears to still not be widely supported—if at all—so if you need to pass an email as an identifier, use one of the TxnData fields to be sure.</p>

<p>Lastly, I noticed field values in the "DPS Payment Express PxPay" option were not sticking when saved. To ensure your values are saved, try deselecting any other DPS / Px* gateways in the Payment section, then click the Save Changes button. After this, you should see your values saved correctly. Note that your checkout option for this gateway will temporarily be unavailable while you make the switch.</p>
