---
permalink: '/feed.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

	<title>{{ site.identity }}</title>
	<link href="{{ site.url }}{{ permalink }}" rel="self"/>
	<link href="{{ site.url }}/"/>
	<id>{{ site.url }}/</id>
	<updated>{{ page.date | dateBot }}</updated>
	
	<author>
		<name>{{ site.identity }}</name>
		<email>{{ site.email }}</email>
	</author>
	{% for post in collections.note %}
	<entry>
		<title>{{ post.data.title }}</title>
		<summary>{{ post.data.metaDescription }}</summary>
		<link href="{{ site.url }}/{{ post.data.permalink }}" />
		<id>{{ site.url }}/{{ post.data.permalink }}</id>
		<updated>{{ post.data.lastModified | dateBot }}</updated>
	</entry>
	{% endfor %}
</feed>
