---
layout: templates/front.html
title: "Hi, I’m <span id=\"js-sparkles\" class=\"sparkles\">Daniel</span>, a friendly WordPress developer"
lead: I can help you create a premium website that is fast, affordable, and simple to use.
lastModified: 2022-11-16
metaTitle: Wellington Web Designer + WordPress Developer
metaDescription: WordPress developer and web designer from New Zealand. I develop super-fast custom web sites that are Google-friendly and simple to use.
---
{% include 'partials/global/banner-home.html' %}

<div class="full-width is-scheme-pink pad-big-y">
	<div class="constrain">
		<div class="columns">
			<div class="column is-one-third">
				<h2 class="is-dm-pink">{{ aboutHeading }}</h2>
			</div>

			<div class="column is-two-third">
				{%- for text in aboutPitch %}
				<p>{{ text.paragraph }}</p>
				{%- endfor %}
			</div>
		</div>
	</div>
</div>

<div class="full-width is-scheme-silver pad-big-y">
	<div class="constrain">
		<h2>{{ servicesHeading }}</h2>
		<p class="is-text-larger">{{ servicesSummary }}</p>

		<ul class="cards grid is-double-measure-top" role="list">
		{%- for card in services %}
			<li>
				{% include 'partials/components/card-static.html' %}
			</li>
		{%- endfor %}
		</ul>
	</div>
</div>

<div class="is-scheme-white full-width pad-big-y">
	<div class="constrain">
		<h2>{{ projectsHeading }}</h2>
		<p class="is-text-larger">{{ projectsSummary }}</p>
		{% include 'partials/components/tab-projects.html' %}
	</div>
</div>

{%- for feature in features %}
<div class="card card--feature full-width is-scheme-white pad-big-y">
	<div class="constrain">
		<figure class="columns">
			<div class="card__media column is-one-third">
				<picture>
					<source srcset="{{ site.url }}/assets/image/{{ feature.imageSquare }}" media="(min-width: 50em)">
					<source srcset="{{ site.url }}/assets/image/{{ feature.imageLandscape }}" media="(max-width: 49.96875em)">
					<img src="{{ site.url }}/assets/image/{{ feature.imageFallback }}" height="600" width="600" alt="" loading="lazy" />
				</picture>
			</div>

			<figcaption class="card__text column is-two-third">
				<span class="all-caps card__type is-dm-purple" aria-hidden="true">{{ feature.type }}</span>
				<h2 class="card__heading">{{ feature.heading }}</h2>
				{%- for paragraph in feature.summary %}
					<p class="card__excerpt">{{ paragraph }}</p>
				{%- endfor %}

				{%- for link in feature.links %}
					<p><a class="link-highlight" href="{{ link.url }}">
					{% include 'assets/icons/link-arrow.svg' %}
					{{ link.urlLabel }}
					</a></p>
				{%- endfor %}
			</figcaption>
		</figure>
	</div>
</div>
{%- endfor %}

<div class="full-width is-scheme-pink pad-big-y">
	<div class="constrain">
		<h2>{{ notesHeading }}</h2>

		<ul class="notes is-double-measure-top">
			{% assign recentNotes = collections.note | reverse %}
			{%- for note in recentNotes limit:3 %}
			<li class="note">
				<article>
					<h3 class="note__heading">
						<a class="link-highlight" href="{{ site.url}}{{ note.url }}">
						{% include 'assets/icons/link-arrow.svg' %}
						{{ note.data.title | preventOrphans }}</a>
					</h3>
				</article>
			</li>
			{%- endfor %}
		</ul>

		<div class="is-double-measure-top">
			<a href="{{ site.url }}/blergh/">All Notes</a>
		</div>
	</div>
</div>
