---
permalink: '/sitemap.xml'
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for post in collections.all %}
        <url>
            <loc>{{ site.url }}/{{ post.data.permalink }}</loc>
            <lastmod>{{ post.data.lastModified | dateBot }}</lastmod>
        </url>
    {% endfor %}
</urlset>