---
layout: templates/post.html
title: Missed connection
date: 2018-10-07
lastModified: 2018-10-07
tags: ['note']
type: freelancing
permalink: 'missed-connection/'
metaDescription: I did too much this year without looking after myself and was very sick as a result.
hasBreadcrumb: true
---
<p>I did too much this year without looking after myself and was very sick as a result. Somehow I managed to pretend illness is one of the last genuine avenues for personal adventure, and so, perversely, I found some enjoyment in being sick. Not in the fear and uncertainty but in the part that lets me become someone else temporarily, by merit of being forcefully ejected from an auto-pilot daily routine.</p>

<p>Still, it&rsquo;s ultimately inconvenient. I was unable to work for much of September and the result was I spent a lot of time reflecting on just how I&rsquo;d come to be in this situation.</p>

<h2>My life&rsquo;s not right</h2>

<p>The obvious starting point to remedy is the number of hours I spend in front of a screen. Done: I now plan out a 4-day week with no more than 5 hours a day—excluding jobs on the day rate.</p>

<p>Cutting hours means knowing what I need to earn to still get by comfortably. It turns out apart from a small monthly spend on rent and food, I don&rsquo;t really have any pressing expenses. In fact, the last time I tried to conjure a list of things in my lifetime I&rsquo;ve desperately wanted that would require disposable income, all I could come up with was a single item from close to 30 years ago: as a young skateboarder in the late 80&rsquo;s much mental energy went towards devising schemes to source expensive plywood for ramps (a huge shout-out to Mitre 10 Ōtaki for gifting local skaters enough plywood sheets and timber to build a decent half-pipe in a poor town).</p>

<p>However, thinking about this a little more sophisti-ma-cated-ly, there&rsquo;s a constant non-material thing I&rsquo;ve coveted (and resolved, with varying levels of success): <i>interesting working relationships</i>.</p>

<h2>Electronic talents fold</h2>

<p>Fun fact: from the mid–00s to –10s I regularly performed as a VJ, a role where collaboration is implicit.<sup><a href="#note-1">1</a></sup> For the first 5 or so years, most of my energy was directed into a difficult to categorise audio-visual project (<i>operatic galaxy metal?</i>) called kazaamBLAM! There were two of us: kazaamBLAM! aka a fine fellow called Richard who originated the project and wrote and performed all the audio elements, with myself <sup><a href="#note-2">2</a></sup> managing the visual side of things.</p>

<iframe src="https://player.vimeo.com/video/6466877" width="640" height="486" frameborder="0" allowfullscreen style="max-width: 100%; margin-bottom: .96876rem;"></iframe>

<p>The interesting part is, I think, we each conceived of the project as having different goals. For Richard, the project was directed from the point of view of a musician, with album releases and touring and performing to a crowd. For me, I guess I was fresh out of being-a-terible-student-at-art-school and thinking in terms of how what I was doing might be used as a device for thinking through and possibly generating new work. Ultimately, though, I was a proud sidekick to a one-man band.</p>

<p>It was a super clash of audio and imagery, but there was no mistaking the audio was the primary force, framed by the types of venue we played at.<sup><a href="#note-3">3</a></sup> This was also reflected in the working dynamic: I needed to constantly interpret and understand the &lsquo;what&rsquo; and &lsquo;when&rsquo; of the musician&rsquo;s actions but there was never any need for what I was doing to feed back into his work. This made me a performer and audience member at the same time, a role I was very happy to play.</p>

<p>This is very similar to my experience working as a front-end developer.<sup><a href="#note-4">4</a></sup> What&rsquo;s changed for me since those times is I&rsquo;ve repeatedly observed how a project starts to decay when a workflow moves in a single direction.</p>
    
<h2>Bad health and industrial sadness</h2>

<p>Illness down-time created the space to realise the work I&rsquo;ve done this year has not been satisfying. It feels like it should be the opposite: it&rsquo;s been a varied year, working on separate projects with 3 NZ-based agencies and 5 solo developers.</p>

<p>There&rsquo;s two things that are constant symptoms of project pain:</p>

<h3>1. Web development vs. WordPress development</h3>

<p>This is potentially a tricky (and maybe even trivial) one because the question is, &ldquo;What is an acceptable level of craft?&rdquo; when the barrier to entry is much lower than in the broader industry.</p>

<p>I pitch myself as a web developer who chooses to use WordPress as a platform for development. The majority of my skillset is tied to the building blocks of the web—HTML, CSS, JS—not a particular platform. The biggest surprise I&rsquo;ve had working with other WordPress peoples this year has been seeing zero acknowledgement of the rather large changes that have occurred in the broader web eco-system over the last 5 years. I&rsquo;ve always chosen to own this as my issue to manage&hellip; but, seriously, it&rsquo;s felt like 2010 every time I&rsquo;ve opened up a WordPress theme folder, regardless of the project being built within the last couple of years.</p>
    
<h3>2. First-minute change, not last-minute change</h3>

<p>It&rsquo;s insane to spend time working through inevitable content, UX and accessibilty issues that become a fixed part of the project as soon as there&rsquo;s sign-off on a static design document. So many things need to be resolved in-browser when translating a static design that can be completely avoided by&hellip; completely avoiding this approach. It&rsquo;s a huge drain on small budgets, and hurts my eternal aim to have a more peaceful life by avoiding redundant tasks in the interest of working less.</p>

<p>Which, finally, brings me to the point of all of this:</p>
<!-- htmlmin:ignore -->
<div class="code-block">
    Desperately seeking digital designer for interesting <del>working</del> playing relationship.
</div>
<!-- htmlmin:ignore --> 

<h2>Opening doors with the psyche</h2>

<p>The model I&rsquo;ve coveted for so long is epitomised here in Dan Mall&rsquo;s & Brad Frost&rsquo;s straightforward overview of their approach to working together on projects:</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/tnkrUt7PpnQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="max-width: 100%; margin-bottom: .96876rem;"></iframe>

<p>Are you a digital designer? Does this resonate? Yes &amp; yes?</p>
<p><b>Mind blown.</b> I want to work with you.</p>

<div class="footnotes">
    <ol>
        <li id="note-1">A visual broadcast analogy is a live sports broadcast where the players are different sounds and the commentary is composed of images.</li>
        <li id="note-2">VJing is a difficult proposition for most, and I chose the VJ name <i>Ridiculoid</i> in an attempt to pre-empt and diffuse a lot of the scorn I experienced. This was taken from the title of <a href="https://ihiphopdistribution.bandcamp.com/track/ridiculoid-feat-el-p">this track</a> by Cannibal Ox, which also happens to be the source of each heading in this post.</a></li>
        <li id="note-3">Cinema, image-first; Music, audio-first; or so the categories go&hellip;</li>
        <li id="note-4">A seemingly unscopable grey area where all known parts of a project converge, and where last-minute work is often unceremoniously dumped.</li>
    </ol>
</div>