---
layout: templates/post.html
title: Codename Gutenberg
date: 2018-03-24
lastModified: 2018-03-24
tags: ['note']
type: wordpress
permalink: 'wordpress-gutenberg/'
metaDescription: A few suggestions with regards to the new WordPress block editor (“Gutenberg”) and how to ensure a smooth transition for your existing website in 2018.
hasBreadcrumb: true
---
<p>The next major release of WordPress—5.0—has long been rumoured to bring a fresh editor experience.</p>

<p>Unfortunately, this will be achieved by breaking compatibility with many existing WordPress themes and plugins. The big question, then: will your WordPress website break with 5.0? The answer is—as with most software-related questions—"it depends&hellip;"</p>

<h2>Will my WordPress website be affected?</h2>

<p>In some way, yes.</p>

<p>In the best-case scenario you'll upgrade to 5.0 and all of your content will be seamlessly migrated to the new editor format, though you will still need to familiarise yourself with a fundamentally different approach to managing content in WordPress. At worst, existing WordPress websites will lose the ability to manage content without remedial work.</p>

<p>While I believe it's safe to assume widely-used plugins like <a href="https://woocommerce.com/">WooCommerce</a> or <a href="https://www.advancedcustomfields.com/">Advanced Custom Fields</a> are too big to break and will be updated in time to work seamlessly within the new paradigm, the bottom line is everybody with a WordPress website will almost certainly be impacted in some way.</p>

<h2>So, what are my options?</h2>

<p>There's still no simple answer to this, something I attribute to ongoing ambiguity around when the switch to the new editor will occur (and, more specifically, the undefined scope of the project in terms of what will ultimately land in 5.0).</p>

<p>Following are the current options I see for negating a poor experience with the new editor. They're not listed in any particular order; rather, each option is suggested as a solution for a particular situation.</p>

<h3>1. Never upgrade to WordPress 5.0</h3>

<p>Who doesn't enjoy a brute-force approach to solving a problem? Yes, you can avoid the new experience altogether by remaining on the final point release of WordPress 4.9. Security updates will continue to be released and automatically applied for this release, as long as you do not have automatic updates turned off.</p>

<p><span class="h3">Should I choose this option?</span><br>
This is a good option to consider only if your website is beginning to show its age and you're already considering a rebuild in the near future. If this is the case you may also like to consider option #4 below.</p>

<h3>2. Install the Classic Editor plugin</h3>

<p>A plugin called <a href="https://wordpress.org/plugins/classic-editor/">Classic Editor</a> has been released to remove the new editor experience from WordPress 5.0. It will effectively disable the new editor experience and reinstate the old one. Unfortunately, this option should not be considered a long-term solution as it will only be supported "for a little while" (<a href="https://ma.tt/2017/12/state-of-the-word-2017/">from a comment</a> by Matt Mullenweg, co-founder of WordPress).</p>

<p><span class="h3">Should I choose this option?</span><br>
This is a good option to consider if you plan to embrace the new editor but find you need a little more time to ensure your website is ready to transition.</p>

<h3>3. Install the Gutenberg plugin now</h3>

<p>The new editor experience is currently being developed under the name "Gutenberg", and a plugin by this name is available right now: <a href="https://wordpress.org/plugins/gutenberg/">Gutenberg</a>.</p>

<p><span class="h3">Should I choose this option?</span><br>
Installing the Gutenberg plugin will allow you to test your existing WordPress website immediately to ensure you are ready to transition. It's important to note the plugin is still in active development and liable to change, meaning any remedial work may be ongoing.</p>

<h3>4. Consider something other than WordPress</h3>

<p>An event like this can often be a good time to pause and reassess: have your requirements changed since you first launched your WordPress website? Compared with many other solutions that have emerged in the past couple of years, WordPress is no longer necessarily a solid default choice for ensuring investment in your digital presence will persist for the next five years.</p>

<h2>“But you recommended WordPress!”</h2>

<p>A lot of WordPress developers—myself included since May 2017—have been actively testing the progress of the new editor via the <a href="https://wordpress.org/plugins/gutenberg/">Gutenberg</a> plugin. During this time I've considered what is a fair approach to dealing with any remedial work on client websites that is necessitated by the new editor.</p>

<p>Here's what I've decided: I'll ensure your WordPress website will continue to work without a hitch and free of charge as long as you meet either of the following conditions.</p>

<ul>
    <li>I recommended WordPress to you as a solution (i.e. you did not explicitly request WordPress be used for your project).</li>
    <li>You have an existing maintenance contract.</li>
</ul>

<p>If you do not meet either condition I may still be available to manage any difficulty your WordPress website experiences, though this will be on a case-by-case basis.</p>