---
layout: templates/post.html
title: Running Docker on WSL
date: 2018-04-02
lastModified: 2018-04-02
tags: ['note']
type: development
permalink: 'wsl-docker-wordpress/'
metaDescription: Troubleshooting common issues when running Docker on Windows Subsystem for Linux.
hasBreadcrumb: true
---
<p>I'm all-in on the weirdo m̷͉̘̟͌͗͒ả̴̗͚͍g̴͙̞͆̓̈́î̴̹͎̆̾̚͝c̷̢̪̰͈̊  that is the Windows Subsystem for Linux, and... so far, so good.</p>

<p>My interest in this was finally piqued after spending all of December 2017 working with Docker containers on an actual Linux OS, as some form of ritual therapy to help grieve my dear recently-departed cat, Minerva: <span class="highlight" style="display: inline-block">(≚ᄌ≚)ℒℴѵℯ❤.</span></p>

<p>Anyway&hellip; with the WSL approach I quickly hit a few surmountable issues getting Docker containers running as required. Solutions to each of the following issues are a simple search away—once the problem itself has been identified, of course—but here they are in one place, for my specific use-case.</p>

<p>You'll need to have enabled and configured WSL in order to hit the following issues in the first place. To get to this point, follow <a href="https://daverupert.com/2017/03/my-bash-on-windows-developer-environment/">this smart guy's experience</a>.</p>

<h2>Docker daemon is unavailable</h2>

<p>That vision you have of sandboxing development tools within a crisp Linux terminal? Let it go.</p>

<p><a href="https://nickjanetakis.com/blog/get-to-know-dockers-ecosystem#docker-daemon">As explained here</a> the Docker daemon must run on the host system, partitioning it from the CLI. The easy way to let the daemon and CLI communicate is to install Docker for Windows. There, in Settings > General, you'll find an option to "Expose daemon on tcp://locahost:2375 without TLS". Tick this.</p>

<p>Next, add the following to ~/.bashrc:</p>
<!-- htmlmin:ignore -->
<div class="code-block">
export DOCKER_HOST=tcp://0.0.0.0:2375</pre>
</div>
<!-- htmlmin:ignore -->
<p>This sets a value for the DOCKER_HOST environment variable, with "export" exposing it to child processes via the WSL environment. If it doesn't seem to be working, close and re-open the shell.</p>

<h2>Dev domain not resolving</h2>

<p>Remember to set the local DNS via your Windows hosts file at C:/ Windows / System32 / drivers / etc / hosts:</p>
<!-- htmlmin:ignore -->
<div class="code-block">
127.0.0.1  localhost   project.test
</div>
<!-- htmlmin:ignore -->
<p>&hellip;with <code>project.test</code> as the dev domain in this example.</p>

<h2>File storage volumes not working</h2>

<p>The first time I spun up my project images, the volume I specified to persist a WordPress theme folder appeared not to mount; or, at least, it was not visible. <a href="https://github.com/Microsoft/WSL/issues/1854#issuecomment-291758664">As discussed here</a>, this turns out to be disaccord between Docker for Windows and WSL, in a way that feels slightly contradictory to one of the first things everyone learns about WSL: the entry point for the Windows C: drive is at /mnt/c. However, Docker for Windows mounts at /c.</p>

<p>Per the previous link, a simple workaround is to bind the WSL path to the Docker for Windows one:</p>
<!-- htmlmin:ignore -->
<div class="code-block">
$ sudo mkdir /c
$ sudo mount --bind /mnt/c /c
$ cd /c/path/to/project
$ docker-compose up -d</pre>
</div>
<!-- htmlmin:ignore -->
<p>The key point here is to ensure docker-compose is run via the bind mount path.</p>

<h2>Dockerfile</h2>

<p>Example repo here: <a href="https://bitbucket.org/chthonic/chthonic-docker-wp">A WordPress development environment with Docker Compose on WSL</a>.</p>
