<nav aria-label="breadcrumb">
	<ol class="breadcrumbs">
		<li><a href="{{ site.url}}/">Home</a></li>
		<li><a href="{{ site.url }}/blergh/">Notes</a></li>
		<li aria-current="page">{{ title }}</li>
	</ol>
</nav>