{% for item in navigation.pages %}
	{% assign colourBackground = 'default' %}

	{% if card.highlight %}
		{% assign colourBackground = card.highlightColour %}
	{% endif %}
{% endfor %}

<div class="card is-scheme-{{ colourBackground }} pad-small-all">
	<h3 class="card__heading">{{ card.title }}</h3>
	<p class="card__excerpt">{{ card.summary }}</p>
</div>