<div class="card card--linked pad-small-all">
	<article>
		<span class="all-caps card__type" aria-hidden="true">{{ note.data.type }}</span>
		<h2 class="card__heading">
			<a class="card-link" href="{{site.url}}{{ note.url | url }}">{{ note.data.title }}</a>
		</h2>
		<time class="card__date" datetime="{{ note.date | dateBot }}">{{ note.date | dateHuman }}</time>
	</article>
</div>