<div class="bg-dark card card--project columns">
	<div class="card__text column pad-small-all">
		<span class="all-caps card__type" aria-hidden="true">{{ project.type }}</span>
		<h3 class="card__heading">{{ project.title }}</h3>
		<p class="card__excerpt">{{ project.summary }}</p>

		{% if project.url %}
		<a class="all-caps card__styled-link" href="{{ project.url }}">Visit</a>
		{% endif %}
	</div>

	<div class="card__media column">
		<picture>
			<source srcset="{{ site.url }}/assets/image/{{ project.imageSquare }}" media="(min-width: 50em)">
			<source srcset="{{ site.url }}/assets/image/{{ project.imageLandscape }}" media="(max-width: 49.96875em)">
			<img src="{{ site.url }}/assets/image/{{ project.imageFallback }}" height="600" width="600" alt="" loading="lazy" />
		</picture>
	</div>
</div>