<div class="columns tabbed is-double-measure-top">
	<div class="column is-one-third">
	<ul class="list-highlight">
	{% assign count = 1 %}
	{%- for project in projects %}
		<li>
			<a href="#project-{{ count }}">{{ project.type }}</a>
		</li>
		{% capture count %}{{ count | plus:1 }}{% endcapture %}
	{%- endfor %}
	</ul>
	</div>

	<div class="column is-two-third">
	{% assign count = 1 %}
	{%- for project in projects %}
		<section id="project-{{ count }}">
			{% include 'partials/components/project.html' %}
		</section>
	{% capture count %}{{ count | plus:1 }}{% endcapture %}
	{%- endfor %}
	</div>
</div>