.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }

.skip-to-content {
	background-color: #fff;
	color: map-get($colours, 'primary-dark');
	font-size: var(--step--1);
	left: $measure;
	padding: .555em 1rem;
	position: absolute;
	text-decoration: none;
	top: $measure;
	transform: translateY(-200%);
	z-index: 10;

	&:focus {
		transform: translateY(0);
	}
}

/* Focus. Reasoning for following approach: https://www.tpgi.com/focus-visible-and-backwards-compatibility/ */
:focus,
.card-link:focus::after {
	outline: 1px solid map-get($colours, 'highlight');
	outline-offset: calc(.25 * #{$measure});
}

[role="tablist"] a:focus-visible {
	outline-offset: 0;
}

:focus:not(:focus-visible),
.card-link:focus:not(:focus-visible)::after,
[role="tablist"] a:focus-visible {
	outline-color: transparent; // For High Contrast schemes.
	outline-width: 4px;
}

:focus-visible,
.card-link:focus-visible::after,
[role="tablist"] a:focus-visible {
	outline: 4px solid map-get($colours, 'highlight');
}

// Overrides.
.nav__item {
	a {
		&:focus {
			background-color: transparent;
			outline: none;
		}

		&:focus::before {
			background-color: map-get($colours, 'light');
		}
	}
}

.link-highlight:focus {
	color: map-get($colours, 'highlight');
}

// Prevent focus outline in Chrome.
main {
	outline: none !important;
}