---
layout: templates/page.html
title: "Not found!"
permalink: 404/
eleventyExcludeFromCollections: true
---

<style>
	.columns {
		flex-wrap: nowrap;
		margin: auto;
		max-width: 60em;
	}

	.column {
		align-items: center;
		display: flex;
		font-family: dm-serif, serif;
		font-size: calc(3 * var(--step-6));
		justify-content: center;
		margin-top: 0;
	}

	.is-text-larger {
		color: var(--c-highlight);
	}
</style>

{% include 'partials/global/banner-404.html' %}

<div class="bg-dark full-width">
	<div class="constrain">
		<p class="is-text-larger">Something is terribly wrong&hellip;</p>
	</div>
</div>