---
layout: templates/page.html
title: Accessibility
lead: This website is built to provide a web experience that is accessible to as many visitors as possible.
lastModified: 2020-11-14
permalink: 'accessibility-policy/'
metaDescription: This website has been built to provide a web experience that is accessible to as many visitors as possible.
---
{% include 'partials/global/banner-plain.html' %}

<div class="is-scheme-white full-width pad-big-y">
    <div class="constrain">
		<p>The ongoing aim is to meet or exceed the Web Content Accessibility
		Guidelines <a href="https://www.w3.org/TR/WCAG21/">(WCAG) version 2.1 criteria</a> for level AA. These guidelines are
		intended to help ensure web content can be accessed, regardless of personal
		or environmental factors.</p>

		<p>Please get in touch if you’ve experienced difficulty using any aspect of
		this website, or if you see an opportunity to improve the user experience:
		daniel@chthonic.nz</p>
	</div>
</div>