---
layout: templates/page.html
title: Talk to me
lead: daniel@chthonic.nz
lastModified: 2020-12-29
permalink: 'appointment/'
metaTitle: Appointment
metaDescription: Would you like to meet up to discuss your upcoming web project?
---
{% include 'partials/global/banner.html' %}

<div class="full-width pad-big-y">
	<div class="constrain">
		<h2>How can I help you?</h2>

		<p>Along with a summary of what you&rsquo;re looking for, please include the following important details if possible:</p>

		<ul>
			<li>The date you need work completed by</li>
			<li>An indication of your budget</li>
		</ul>

		<h3>Why is this information useful?</h3>
		<p>Please see <a href="{{ site.url }}/client-work-changes#requirements">Two Eternal Questions</a>.</p>
	</div>
</div>