---
layout: templates/page.html
title: "Former art life"
lead: Portrait of the artist as a cosplayer, before I forget.
lastModified: 2023-08-23
permalink: art-life/
metaTitle: Portrait of the artist as a cosplayer,
metaDescription: A note to self before I forget the details of my pre-web developer life.
---
{% include 'partials/global/banner.html' %}

<div class="full-width is-scheme-silver pad-big-y">
    <div class="constrain">
        <h2>{{ exhibitionsHeading }}</h2>

        <figure style="max-width: 100%;">
            <picture>
              <source srcset="{{ site.url }}/assets/image/rexanddan-isea2013.webp">
              <img src="{{ site.url }}/assets/image/rexanddan-isea2013.jpg"
                height="783"
                width="1260"
                alt="rex&dan perform at 107 Projects, Sydney"
                loading="lazy"
              />
            </picture>
          
            <figcaption style="font-size: var(--step--1); margin-top: .75rem;">rex&amp;dan perform “Future Calls the Dawn Chorus (Inversion Mix)” (2013)<br>107 Projects, Redfern, Sydney<br>Image: Jenny Gillam</figcaption>
        </figure>

        <figure style="max-width: 100%;">
            <picture>
              <source srcset="{{ site.url }}/assets/image/james-luna-kazaamblam-te-papa-2009.webp">
              <img src="{{ site.url }}/assets/image/james-luna-kazaamblam-te-papa-2009.jpg"
                height="783"
                width="1260"
                alt="kazaamBLAM! perform with James Luna at Te Papa, Wellington"
                loading="lazy"
              />
            </picture>
          
            <figcaption style="font-size: var(--step--1); margin-top: .75rem;">James Luna feat. kazaamBLAM! (2009)<br>Te Papa Soundings Theatre, Wellington<br>Image: Ruth Korver</figcaption>
        </figure>

        <div class="columns">
            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-insidious-pop-ii-drift.jpg"
                    alt="VJing at a performance evening as part of the exhibition Insidious Pop 2 (drift)"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">With vjRex (2007)<br>Insidious Pop II (drift), mediaGallery, The Film Archive, Wellington<br>Image: Jenny Gillam</figcaption>
                </figure>
            </div>

            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-rasta-blasta.jpg"
                    alt="Rasta Blasta artwork with Eugene Hansen at Te Tuhi, Auckland"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">“Rasta Blasta” with Eugene Hansen (2011)<br>RootMeanSquare, Te Tuhi, Auckland<br>Image: Sam Hartnett</figcaption>
                </figure>
            </div>

            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-remixed-dupe.jpg"
                    alt="Still from single channel video “Dupe”, 2012"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">Still from “Dupe” (2012)<br>Remixed, mediaGallery, The Film Archive, Wellington</figcaption>
                </figure>
            </div>
        </div>       

        {%- for exhibition in exhibitions %}
            <div class="columns is-double-measure-top">
                <div class="column is-one-third">
                    <h3>{{ exhibition.title }}</h3>
                </div>

                <div class="column is-two-third">
                    <p>
                    {{ exhibition.year }}<br>
                    
                    {% if exhibition.work %}
                        {{ exhibition.work }}
                        
                        {% if exhibition.link %}
                            <a href="{{ exhibition.link }}">View</a>
                        {% endif %}
                        <br>
                    {% endif %}

                    {{ exhibition.description }}
                    </p>

                    <p>{{ exhibition.context }}</p>
                </div>
            </div>
        {%- endfor %}

        <h2>{{ vjHeading }}</h2>

        <div class="columns">
            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-kblam-splore.jpg"
                    alt="kazaamBLAM! playing a guitar at Splore music festival, 2010"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">kazaamBLAM! at Splore (2010)<br>Image: Ruth Korver’s sister’s husband</figcaption>
                </figure>
            </div>

            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-kblam-screengrabs.jpg"
                    alt="kazaamBLAM! live set screen grabs, 2011"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">kazaamBLAM! live video streams (2011)</figcaption>
                </figure>

                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-kblam-gif-still-mighty-mighty-2009.jpg"
                    alt="kazaamBLAM! gig poster, 2009"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">Still from video gig poster (2009)</figcaption>
                </figure>
            </div>

            <div class="column is-one-third">
                <figure>
                    <img
                    src="{{ site.url }}/assets/image/art-ridiculoid-splore.jpg"
                    alt="Ridiculoid vjing at Splore music festival, 2010"
                    class="lazyload">
                    <figcaption style="font-size: var(--step--1); margin-top: .75rem;">Ridiculoid at Splore (2010)<br>Image: Ruth Korver’s sister’s husband</figcaption>
                </figure>
            </div>
        </div>

        {%- for set in sets %}
            <div class="columns is-double-measure-top">
                <div class="column is-one-third">
                    <h3>{{ set.context }}</h3>
                </div>

                <div class="column is-two-third">
                    <p>
                        {{ set.year }}<br>
                        {{ set.description }}
                    </p>

                    <p>{{ set.notable }}</p>
                </div>
            </div>
        {%- endfor %}
        
        <div class="columns is-double-measure-top">
            <div class="column">
                <figure>
                    <iframe style="aspect-ratio: 4 / 3; width: 100%;" src="https://www.youtube.com/embed/3SAYbK5ghH8" title="YouTube video player: kazaamBLAM! live at Imerst, Wellington, 2006" frameborder="0" allow="autoplay; encrypted-media; modestbranding=1; playsinline=1; iv_load_policy=3" allowfullscreen></iframe>
                    <figcaption style="font-size: var(--step--1); margin-top: .25rem;">kazaamBLAM! (2006)<br>Imerst, Wellington<br>Video: Ruth Korver</figcaption>
                </figure>
            </div>

            <div class="column">
                <figure>
                    <iframe style="aspect-ratio: 4 / 3; width: 100%;" src="https://www.youtube.com/embed/gipaBipB_ck" title="YouTube video player: kazaamBLAM! at Bar Bodega, 2008" frameborder="0" allow="autoplay; encrypted-media; modestbranding=1; playsinline=1; iv_load_policy=3" allowfullscreen></iframe>
                    <figcaption style="font-size: var(--step--1); margin-top: .25rem;">kazaamBLAM! (2008)<br>Bar Bodega, Wellington<br>Video edit: Melissa & Toby Donald</figcaption>
                </figure>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <figure>
                    <iframe style="aspect-ratio: 4 / 3; width: 100%;" src="https://www.youtube.com/embed/KAoF8ejnZRA" title="YouTube video player: kazaamBLAM! at Garden Magic, Wellington, 2011" frameborder="0" allow="autoplay; encrypted-media; modestbranding=1; playsinline=1; iv_load_policy=3" allowfullscreen></iframe>
                    <figcaption style="font-size: var(--step--1); margin-top: .25rem;">Garden Magic feat. kazaamBLAM! [ecstatic preacher-mode encore] (2011)<br>Wellington Botanic Garden, Wellington<br>Video: Ruth Korver</figcaption>
                </figure>
            </div>

            <div class="column">
                <figure>
                    <iframe style="aspect-ratio: 4 / 3; width: 100%;" src="https://www.youtube.com/embed/MYKd6QUpdNM" title="YouTube video player: Videotheque club night" frameborder="0" allow="autoplay; encrypted-media; modestbranding=1; playsinline=1; iv_load_policy=3" allowfullscreen></iframe>
                    <figcaption style="font-size: var(--step--1); margin-top: .25rem;">Videotheque feat. VJs Rex, Harry Silver, and Ridiculoid (2011)<br>San Francisco Bath House, Wellington<br>Video edit: Harry Silver</figcaption>
                </figure>
            </div>
        </div>

        <h2>{{ tksHeading }}</h2>

        <p>{{ tksDescription }}</p>

        <div class="columns is-double-measure-top">
            <div class="column is-one-third">
                <h3>Audioculture</h3>
            </div>

            <div class="column is-two-third">
                <p>{{ tksLink }}</p>
            </div>
        </div>

        <div class="columns is-double-measure-top">
            <div class="column is-one-third">
                <h3>National Library of New Zealand</h3>
            </div>

            <div class="column is-two-third">
                <ul>
                    {%- for link in tksHarvestLinks %}
                        <a href="{{ link.url }}">{{ link.year }}</a>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>