---
layout: templates/page.html
title: Privacy policy
lead: This is the privacy policy for danielshaw.co.nz.
lastModified: 2020-10-27
permalink: privacy-policy/
metaDescription: The privacy policy for danielshaw.co.nz.
---
{% include 'partials/global/banner-plain.html' %}

<div class="full-width pad-big-y">
	<div class="constrain">
		<h2>Purpose</h2>
		<p>This privacy policy was written to let you know when I collect personal information and what I do with it. I’ll only use your personal information as set out in this policy.</p>
		<p>I may need to update this policy from time to time. If I do, I’ll amend this page explaining the changes or update the changelog at the bottom of the policy.</p>

		<h2>The information I collect</h2>
		<p>You may disclose personal information when you message me via the contact email, <a href="mailto:{{ site.email }}">{{ site.email }}</a>. You don’t have to, though. You can view the site incognito.</p>

		<h3>People who will be able to see it</h3>
		<p>Anyone who may assist me with the website over time may also be able to see it but they won’t be able to share it or use it for their own purposes.</p>

		<h3>Who holds the information</h3>
		<p>I, Daniel Shaw, will hold the information. The website <a href="{{ site.url }}">{{ site.domain }}</a> is hosted by <a href="https://vultr.com/">Vultr</a> and email is hosted by <a href="https://www.zoho.com/mail/">Zoho</a>, so these services will also hold the information, on my behalf.

		<h3>How will I use the information</h3>
		<p>I will only use your personal information to communicate with you about your project, and for any other purpose that is made clear to you at the point of collection. I may send occasional emails to you in relation to other matters relevant to {{ site.domain }}.
		<p>I won’t disclose your personal information to third parties unless I need to do so to defend my legal position or am required by law to do so.

		<h3>How long the information will be held</h3>
		<p>I will hold the information for as long as I'm providing {{ site.domain }} or any related site. When I no longer require it for such purposes, I’ll delete it.</p>

		<h2>Other information and cookies</h2>
		<p>I do not actively collect statistical information from you when you visit {{ site.domain }}.</p>

		<h2>Get in touch</h2>
		<p>Feel free to get in touch if you’d like to see the personal information about you that I have stored, or to request correction of such personal information, or if you have any concerns regarding your privacy. You’ll understand that I may need to ask for proof of your identity before providing you with any personal information. You can contact me at <b>{{ site.email }}</b>.</p>

		<h2>Changelog</h2>
		<p>This privacy policy was amended on 27/10/2020. No changes have been made since this date.</p>
	</div>
</div>