---
layout: templates/page.html
title: "<span id=\"js-sparkles\" class=\"sparkles\">Pricing</span>"
lead: All prices in New Zealand dollars.
lastModified: 2022-11-16
permalink: pricing/
metaTitle: Pricing for custom WordPress development and maintenance projects
metaDescription: An overview of pricing options to fit every WordPress project or task.
---
{% include 'partials/global/banner.html' %}

<div class="full-width is-scheme-silver pad-big-y">
    <div class="constrain">
        <h2 id="rates">{{ ratesHeading }}</h2>

		<p class="is-text-larger">A range of pricing options to fit every project or task.</p>

		<ul class="cards grid is-double-measure-top" role="list">
        {%- for card in rates %}
            <li>
                {% include 'partials/components/card-rate.html' %}
            </li>
        {%- endfor %}
        </ul>
    </div>
</div>