---
layout: templates/page.html
title: "WordPress developer — how can I help <span id=\"js-sparkles\" class=\"sparkles\">you</span>?"
lead: Many web designers offer “WordPress” as a solution. The information below can help you understand if I’m a good choice for your project.
lastModified: 2022-11-16
permalink: wordpress-developer/
metaTitle: WordPress Developer — How Can I Help You?
metaDescription: A quick guide to whether I am the right type of WordPress developer for your project.
---
{% include 'partials/global/banner.html' %}

<div class="full-width is-scheme-pink pad-big-y">
    <div class="constrain">
        <div class="columns">
            <div class="column is-one-third">
                <h2 id="do">{{ doHeading }}</h2>
            </div>

            <div class="column is-two-third">
                <ul class="list-highlight" role="list">
                {%- for task in do %}
                    <li>{{ task.description }}</li>
                {%- endfor %}
                </ul>
            </div>
        </div>
        
        <div class="columns is-double-measure-top">
            <div class="column is-one-third">
                <h2 id="do-not">{{ doNotHeading }}</h2>
            </div>

            <div class="column is-two-third">
                <ul class="list-highlight" role="list">
                    {%- for task in doNot %}
                        <li>{{ task.description }}</li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="is-scheme-white full-width pad-big-y">
    <div class="constrain">
        <h2 id="geek">What is a &ldquo;WordPress developer&rdquo;?</h2>

        <div class="columns">
            <div class="column">
                <p>Confession time: I’m actually a <strong>front-end developer</strong>. 
                    Though I have expertise developing websites using <a href="https://wordpress.org" rel="nofollow">WordPress</a> 
                    as the backbone, my skill set is based in best-practice modern 
                    front-end development. This means I can offer more resilient 
                    solutions than a typical web design or marketing agency offering 
                    WordPress as an option.</p>
                    
                    <p>Generally, I’m the type of front-end developer focused mostly on things 
                    like <a href="https://css-tricks.com/the-great-divide/">“interaction 
                    design & SVG, CSS/SASS architecture, WordPress themes, UX and accessibility.”</a> 
                    Despite this, I’m well-grounded in modern JavaScript and tooling: from vanilla to Vue; 
                    webpack to Docker.</p>
                </div>

                <div class="column stacked-no-margin-top">
                    <p>Being heavily invested in WordPress as a CMS means I’ve worked 
                    with PHP a lot&mdash;and, increasingly, React-flavoured JavaScript 
                    for custom blocks&mdash;with occasional trips to the more 
                    structured lands of Laravel & Lumen. I use Composer and write 
                    unit tests on occasion.</p>
    
                    <p>My primary activity involves bridging <a href="https://technology.blog.gov.uk/2020/07/24/why-you-should-hire-a-frontend-developer/">
                    the gap between technology and design</a>. However, due to the small 
                    scale of the projects I work on, all previous <a href="{{ site.url }}/#project-3">WordPress projects</a> 
                    linked from this site have been “designed” by myself.</p>
            </div>
        </div>
    </div>
</div>

<div class="full-width is-scheme-orange pad-big-y">
    <div class="constrain">
        <div class="columns">
            <div class="column">
                <h2>Hey! You build WordPress websites but this site doesn’t run on WordPress?</h2>
            </div>

            <div class="column">
                <p>It’s true, this site is built on <strike><a href="https://jekyllrb.com/">Jekyll</a></strike> (2014–2017);
                <strike><a href="https://gohugo.io/">Hugo</a></strike> (2017–2020);
                <a href="https://www.11ty.dev/">Eleventy!</a> WordPress can be a great 
                all-purpose solution but it’s not my default go-to option.</p>
                
                <p>The promise of a content management system (CMS) like WordPress is
                the ability to easily update website content. The trade-off here is a CMS
                is powered by a bunch of code connected to a database, all of which needs
                regular ongoing maintenance.</p>

                <p>One of the first things to consider is whether WordPress is a good 
                option for your project.</p>
            </div>
        </div>
    </div>
</div>