.brand {
	padding-top: 1.5rem;
}

.nav {
	display: flex;
	flex-wrap: wrap;
}

.nav__item {
	&:not(:last-child) {
		margin-right: calc(.5 * #{$measure});
	}

	a {
		color: map-get($colours, 'light');
		display: inline-block;
		font-family: $font-sans-serif; // @todo Remove this when fonts properly set up.
		font-size: var(--step--1);
		font-weight: 400 !important;
		padding: calc(.5 * #{$measure}) 0;
		position: relative;
		text-decoration: none;
		width: 100%;
	}

	a {
		&::before {
			background-color: transparent;
			content: '';
			display: block;
			left: 0;
			height: calc(.25 * #{$measure});
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		&:hover::before {
			background-color: map-get($colours, 'light');
		}

		&[aria-current] {
			&::before {
				background-color: map-get($colours, 'highlight');
			}
		}
	}
}

@media (min-width: 62.5em) {
	.nav {
		flex-direction: column;
	}

	.nav__item {
		border-top: 1px solid map-get($colours, 'primary');
		margin: 0;
		width: 100%;

		a {
			font-size: var(--step--2);

			&::before {
				left: -#{$measure};
				height: 100%;
				top: 0;
				width: calc(.25 * #{$measure});
			}
		}
	}
}