.footer {
	display: flex;
	font-size: var(--step-0);
	justify-content: space-between;

	@media (max-width: 37.46875em) {
		flex-direction: column;
	}
}

.site-meta {
	ul {
		list-style-type: none;
	}

	li {
		margin-top: .75rem;
	}

	@media (min-width: 37.5em) {
		align-items: flex-end;
		display: flex;
		flex-direction: column;

		/* Colour mode toggle. */
		.switch {
			margin-top: auto;
		}
	}
}
