// Elements.
body {
	background-color: var(--c-white);
	color: var(--c-primary);
}

.console {
	background-color: map-get($colours, 'primary-dark');

	@media (min-width: 62.5em) {
		background-color: map-get($colours, 'primary-bright');
	}
}

h1 {
	color: map-get($colours, 'light');
}

h2,
h3,
main a,
.post .page-title,
.breadcrumbs a {
	color: var(--c-primary-bright);
}

.list-highlight li {
	border-top: 1px solid #b8c7ff; /* One-off colour. */
}

.card {
	background-color: var(--c-white);
}

.link-highlight__icon {
	fill: var(--c-primary-bright);
}

code,
.code-block {
	background-color: var(--c-accent-silver);
	color: var(--c-primary-dark);
}

// Utilities.
.bg-dark {
	background-color: var(--c-primary-dark);
	color: var(--c-white);

	a {
		color: map-get($colours, 'light');
	}
}

.is-scheme-green {
	background-color: var(--c-accent-green);
}

.is-scheme-orange {
	background-color: var(--c-accent-orange);
}

.is-scheme-pink{
	background-color: var(--c-accent-pink);
}

.is-scheme-purple {
	background-color: var(--c-accent-purple);
}

.is-scheme-silver {
	background-color: var(--c-accent-silver);
}

.is-scheme-white {
	background-color: var(--c-white);
}

// Dark mode.
[data-user-color-scheme="dark"] {
	img,
	.icon-selfie:first-child {
		filter: brightness(.8);
	}

	// Elements.
	body,
	.bg-dark,
	.is-scheme-green,
	.is-scheme-orange,
	.is-scheme-pink:not(.card),
	.is-scheme-purple,
	.is-scheme-silver,
	.is-scheme-white {
		background-color: var(--c-primary-dark);
		color: var(--c-accent-silver);
	}

	h2,
	h3,
	main a,
	.post .page-title,
	.card,
	.card-link,
	.breadcrumbs a {
		color: var(--c-white);
	}

	.card:not(.card--feature) { // Feature card background will be dark blue.
		background-color: var(--c-primary);

		&.is-scheme-green {
			background-color: transparent;
			border: 2px solid var(--c-accent-green);
		}

		&.is-scheme-orange {
			background-color: transparent;
			border: 2px solid var(--c-accent-orange);
		}

		&.is-scheme-pink {
			background-color: transparent;
			border: 2px solid var(--c-highlight);

		}
	}

	.list-highlight li {
		border-top: 1px solid map-get($colours, 'primary-bright');
	}

	.link-highlight__icon {
		fill: var(--c-accent-purple);
	}

	code {
		background-color: var(--c-primary);
		color: var(--c-accent-silver);
	}

	.code-block {
		background-color: transparent;
		border: 2px solid var(--c-accent-green);
		color: var(--c-white);
	}

	.x-ray-fill {
		fill: var(--c-primary-dark);
	}

	// Dark mode only.
	.is-dm-pink {
		color: var(--c-highlight);
	}

	.is-dm-purple {
		color: var(--c-accent-purple);
	}
}

// Selfie.
.hair {
	fill: #bea5aa;
}

.skin-light {
	fill: var(--c-accent-pink);
}

.skin-dark {
	fill: #f5c2be;
}

.mouth {
	fill: #ff7a9e;
}

.eye {
	fill: map-get($colours, 'primary-dark');
}

.hat-light {
	fill: #5e7b9d;
}

.hat-shadow {
	fill: #5a6377;
}

.glasses {
	fill: #ee6366;
}

// Selfie skull.
.x-ray-fill {
	fill: map-get($colours, 'primary-dark');
}

.bone {
	fill: #f5f0df;
}

.bone-void {
	fill: map-get($colours, 'primary-dark');
}

.bone-dark {
	fill: #b8b7a6;
}

.bone-shadow {
	fill: #544b35;
}

.bone-mid {
	fill: #b3b3b3;
}

.bone-light {
	fill: var(--c-white);
}

.bone-teeth-lower {
	fill: #f3f1ed;
}

.bone-teeth-shadow {
	opacity: .3;
}