/* Palette.
 * https://toolness.github.io/accessible-color-matrix/?n=white&n=soft%20purple&n=soft%20accent-green&n=soft%20orange&n=blue%20bright&n=blue%20dark&v=FFFFFF&v=EFEDFF&v=F1F1E6&v=FFEACC&v=0053D6&v=123693
 */
@import 'tokens';
$colours: map-get($tokens, 'colours');
$colours-dark: map-get($tokens, 'colours-dark');

:root {
    --color-mode: 'light';
    --c-primary: #{map-get($colours, 'primary')};
    --c-primary-bright: #{map-get($colours, 'primary-bright')};
    --c-primary-dark: #{map-get($colours, 'primary-dark')};
    --c-highlight: #{map-get($colours, 'highlight')};
    --c-white: #{map-get($colours, 'light')};
    --c-accent-green: #{map-get($colours, 'accent-green')};
    --c-accent-silver: #{map-get($colours, 'accent-silver')};
    --c-accent-orange: #{map-get($colours, 'accent-orange')};
    --c-accent-pink: #{map-get($colours, 'accent-pink')};
    --c-accent-purple: #{map-get($colours, 'accent-purple')};
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-mode: 'dark';
    }
}

[data-user-color-scheme="dark"] {
    --c-white: #{map-get($colours-dark, 'light')};
    --c-accent-green: #{map-get($colours-dark, 'accent-green')};
    --c-accent-silver: #{map-get($colours-dark, 'accent-silver')};
    --c-accent-orange: #{map-get($colours-dark, 'accent-orange')};
    --c-accent-purple: #{map-get($colours-dark, 'accent-purple')};
}

/* Sets the maximum content width. */
$constraint-max: 90; /* Unitless due to usage in different contexts. */

/* Font. */
// Preloaded.
@font-face {
    font-family: 'dm-sans';
    src: url('../font/dmsans-regular.woff2') format('woff2'),
         url('../font/dmsans-regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'dm-serif';
    src: url('../font/dmserifdisplay-regular.woff2') format('woff2'),
         url('../font/dmserifdisplay-regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

// Loaded with CSS Font Loading API.
@font-face {
    font-family: 'dm-sans';
    src: url('../font/dmsans-bold.woff2') format('woff2'),
         url('../font/dmsans-bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'dm-mono';
    src: url('../font/dmmono-regular.woff2'),
         url('..font/dmmono-regular.woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

$font-sans-serif: 'dm-sans', sans-serif;
$font-serif: 'dm-serif', serif;
$font-mono: 'dm-mono', monospace;

/* Utility. */
$measure: 1.5rem;
$measure-relative: 1.5em;
