/* Text sparkle. */
// <span id="js-sparkles" class="sparkles">[text content]</span>.
.sparkles {
	display: inline-block;
	position: relative;
}

.sparkle {
	align-items: center;
	animation-name: scale;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	display: flex;
	height: $measure;
	justify-content: center;
	margin-top: 0 !important;
	position: absolute;
	transform-origin: center center;
	width: $measure;
}

.sparkle-star {
	animation-name: spin;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	fill: map-get($colours, 'highlight');
	pointer-events: none;
	transform-origin: center center;
}

@keyframes scale {
    0%, 100% {
		transform: scale(.25);
	
    }
    50% {
		transform: scale(1);
    }
}

@keyframes spin {
    from {
		transform: rotate(0deg);
    }
    to {
		transform: rotate(90deg);
    }
}

/* Eye blink. */
.eye {
	animation-name: blink;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	transform-origin: 50%;
	transform-box: fill-box;
}

@keyframes blink {
	0%, 2% {
		transform: scaleX(1) scaleY(1);
	}
	1% {
		transform: scaleX(1.3) scaleY(.1);
	}
}

/* X-ray */
.no-js .x-ray {
	cursor: initial;
}

.x-ray {
	cursor: none;
	height: 100%;
	min-height: 350px; // Set height of container to prevent collapse due to absolute positioning of children.
	position: relative;
	width: 100%;

	svg {
		bottom: 0;
		display: block;
		height: 100%;
		left: 0;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	// Account for absolute position rule used to underlay x-ray layer.
	@media (max-width: 49.96875em) {
		min-height: 300px; // Set height of container to prevent collapse due to absolute positioning of children.

		svg {
			margin: 0 auto; // Manually centre element due to absolute positioning.
		}
	}
}