/* @link https://utopia.fyi/generator-mk-ii?c=800,16,1.2,1440,18,1.25,5,2, */

:root {
	--fluid-min-width: 800;
	--fluid-max-width: 1440;
  
	--fluid-screen: 100vw;
	--fluid-bp: calc(
	  (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
		(var(--fluid-max-width) - var(--fluid-min-width))
	);
  }
  
  @media screen and (min-width: 1440px) {
	:root {
	  --fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
  }
  
  :root {
	--f--2-min: 11.11;
	--f--2-max: 11.52;
	--step--2: calc(
	  ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
		var(--fluid-bp)
	);
  
	--f--1-min: 13.33;
	--f--1-max: 14.40;
	--step--1: calc(
	  ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
		var(--fluid-bp)
	);
  
	--f-0-min: 16.00;
	--f-0-max: 18.00;
	--step-0: calc(
	  ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
		var(--fluid-bp)
	);
  
	--f-1-min: 19.20;
	--f-1-max: 22.50;
	--step-1: calc(
	  ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
		var(--fluid-bp)
	);
  
	--f-2-min: 23.04;
	--f-2-max: 28.13;
	--step-2: calc(
	  ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
		var(--fluid-bp)
	);
  
	--f-3-min: 27.65;
	--f-3-max: 35.16;
	--step-3: calc(
	  ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
		var(--fluid-bp)
	);
  
	--f-4-min: 33.18;
	--f-4-max: 43.95;
	--step-4: calc(
	  ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
		var(--fluid-bp)
	);
  
	--f-5-min: 39.81;
	--f-5-max: 54.93;
	--step-5: calc(
	  ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
		var(--fluid-bp)
	);

	--f-6-min: 47.78;
	--f-6-max: 68.66;
	--step-6: calc(
	  ((var(--f-6-min) / 16) * 1rem) + (var(--f-6-max) - var(--f-6-min)) *
		var(--fluid-bp)
	);
  }