$tokens: (
  colours: (
    primary: #123693,
    primary-bright: #0053d6,
    primary-dark: #14234b,
    highlight: #e1144b,
    light: #fff,
    accent-green: #f1f1e6,
    accent-silver: #f0f5f5,
    accent-orange: #ffeacc,
    accent-pink: #ffe6f0,
    accent-purple: #efedff
  ),
  colours-dark: (
    highlight: #e1144b,
    light: #f0f5f5,
    accent-green: #33e0c8,
    accent-silver: #d0d0d0,
    accent-orange: #ff5f19,
    accent-purple: #ad70ff
  )
);
