body {
	font-family: $font-sans-serif;
	font-size: var(--step-0);
}

h1,
h2,
h3 {
	font-weight: 400;
	line-height: 1.2;
	max-width: 64ch;
}

h1,
h2 {
	font-family: $font-serif;
}

h1 {
	font-size: var(--step-5);
	max-width: 22ch;
}

.front h1 {
	max-width: 100%;
	@media (min-width: 1150px) {
		max-width: 26ch;
	}
}

h2 {
	font-size: var(--step-4);
	max-width: 48ch;
}

h3 {
	font-size: var(--step-2);
}

ul,
ol {
	margin: 0;
	padding: 0;
}

p,
li {
	line-height: 1.6;
	max-width: 52ch; /* When outside constraining parent. */
}

.is-text-larger {
	font-size: var(--step-2);
	line-height: 1.4;
	max-width: 36ch;
}

.is-text-smaller {
	font-size: var(--step--1);
	line-height: 1.8;
}

.all-caps {
	font-weight: 700;
	letter-spacing: .125rem;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:not([class]):not([role]) {
	text-decoration: underline;

	&:hover {
		text-decoration: none;			
	}
}

.link-highlight {
	align-items: center;
	display: flex;
	margin-top: 0;

	&:hover {
		text-decoration: underline;
		text-decoration-skip-ink: auto;

		.link-highlight__icon {
			transform: translateX(calc(.25 * #{$measure-relative}));
		}
	}

	&:focus {
		.link-highlight__icon {
			fill: map-get($colours, 'highlight');
		}
	}
}

.link-highlight__icon {
	fill: map-get($colours, 'primary-bright');
	flex: 0 0 var(--step-2);
	height: calc(.75 * #{$measure-relative});
	margin-inline-end: calc(.5 * #{$measure-relative});
	transition: transform 250ms ease-in-out;
	width: calc(.75 * #{$measure-relative});
}

pre,
.switch {
	font-family: $font-mono;
}

/* Templates. */
.page,
.post {
	h3:not(.card__heading) {
		font-size: var(--step-1);
		font-weight: 700;
	}
}

// Post.
.post {
	.page-title {
		//color: map-get($colours, 'primary-bright');
		max-width: 27ch;
	}

	time,
	.time-updated {
		font-size: var(--step--1);
		letter-spacing: .125rem;
		text-transform: uppercase;
	}

	.time-updated {
		color: map-get($colours, 'highlight');
		font-weight: 700;
		margin-top: 0 !important;
	}

	h2 {
		font-size: var(--step-3);
	}

	p,
	li {
		max-width: 57ch;
	}

	figcaption {
		font-size: var(--step--1);
	}
}

/* Components. */

// Tabbed projects.
.tabbed li a {
	font-size: var(--step-1);
}

// Notes.
sup {
	line-height: 1;
	padding: 0 2px;
}

.notes {
	.note__heading {
		display: inline-block;
		max-width: 100%;
	}

	.link-highlight {
		align-items: flex-start;
	}
}

.footnotes {
	font-size: var(--step--1);
/*
	:target {
		background-color: map-get($colours, 'accent-orange') !important;
	}*/
}